body {
  font-family: roboto;
  margin: 2em;
  color: #3d3d3d;
  --mdc-theme-primary: #007f8b;
  --mdc-theme-on-primary: #f1f3f4;
}

h1 {
  color: #007f8b;
}

h2 {
  clear: both;
}

video {
  clear: both;
  display: block;
  transform: scaleX(-1); /* Flip horizontally */
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  height: 280px;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.detectOnClick,
.videoView {
  position: relative;
  float: none;
  width: 100%;
  margin: 2% 0;
  cursor: pointer;
}

.videoView {
  min-height: 500px;
}

.detectOnClick p,
.videoView p {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  margin: 0;
}

.highlighter,
.canvas,
.output_canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output_canvas {
  transform: scaleX(-1); /* Flip horizontally */
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}

.detectOnClick {
  z-index: 0;
  font-size: calc(8px + 1.2vw);
}

.detectOnClick img {
  width: 100%;
}

.output {
  display: none;
  width: 100%;
  font-size: calc(8px + 1.2vw);
}

/* Media Queries for Responsive Design */

@media only screen and (min-width: 600px) {
  .detectOnClick,
  .videoView {
    width: 48%;
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .detectOnClick,
  .videoView {
    width: 48%;
    float: left;
  }
}

@media only screen and (min-width: 992px) {
  .detectOnClick,
  .videoView {
    width: 48%;
    float: left;
  }
}

@media only screen and (min-width: 1200px) {
  .detectOnClick,
  .videoView {
    width: 48%;
    float: left;
  }
}
